{% extends 'layout1.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<br></br>
<h2><i class="fa-solid fa-circle-info" style="color: #ffffff;"></i> About Kill Gang</h2>
<br></br>

<p>Kill Gang is a rap group known for their gritty, intense lyrics and hard-hitting beats.</p> 
<p>The group was formed in the late 2010s and gained a followers for their style and</p> 
<p>unapologetic approach to their music.</p>
<br></br>

<div style="text-align: right; padding-right: 220px;">
    <img src="https://i1.sndcdn.com/avatars-1s9w54dUNZzVmty5-y8kJAA-t500x500.jpg"  style="float: right; margin-left: 10px; margin-top: -180px;">
  </div>

<p>With a focus on themes of violence, drugs, and gang culture, Kill Gang has become a</p> 
<p>controversial figure in the rap world. Some see them as glorifying a dangerous lifestyle, while</p> 
<p>others appreciate the group's raw honesty and authentic representation of urban life.</p>
<br></br>
<h5>Check out our newest Album:</h5>


<iframe style="margin: 0 100px;" width="40%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1604690107&color=%23777777&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/killganglv" title="Kill Gang" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/killganglv/sets/kill-gang-vol-2" title="Kill Gang vol. 2" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>


<h4>Contact:</h4>

<p><b>Email:</b> kill@gang.com</p>
<p><b>Number:</b> +37127048988</p>

{% endblock %}